@import "tailwindcss";

/* ALWAYS DARK MODE */
:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* Yangi.TV kabi chuqur qora */
body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;
}
