@import "tailwindcss";

/* ALWAYS DARK MODE */
:root {
  --background: #000000;
  --foreground: #ffffff;
}


body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 0.4s ease;
}
